# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Tests
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db